.box {
    margin: 10px;
    width: 300px;
    border: solid 1px #e2e3e7;
    background-color: #eaebef;
    border-radius: 5px;
    text-align: left;
}

.header {
    background-color: #e2e3e7;
    padding: 10px;
}

.title {
    font-size: 16pt;
    font-weight: bold;
    margin: 5px;
}

.image {
    width: 100px;
    height: 100px
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right {
    width: 60%;
    flex-direction: column;
}

.left {
    width: 35%;
    display: inline-flex;
}

.column {
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
}